body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f4f8;
    font-family: Arial, sans-serif;
  }
  
  .form {
    background-color: #fff;
    display: block;
    padding: 2rem;
    max-width: 800px;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.05);
    margin: auto;
  }
  
  .form-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
  }

  .form-title:hover{
    color:red;
  }
  
  .input-container {
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .input-container input, .form button {
    outline: none;
    border: 1px solid #d1d5db;
    margin: 8px 0;
  }
  
  .input-container input {
    background-color: #f9fafb;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 90%;
    border-radius: 0.75rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s;
  }
  
  .input-container input:focus {
    border-color: #4F46E5;
  }
  
  .input-container span {
    display: grid;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    place-content: center;
  }
  
  .input-container span svg {
    color: #9CA3AF;
    width: 1rem;
    height: 1rem;
  }
  
  .submit {
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #4F46E5;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    width: 100%;
    border-radius: 0.75rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit:hover {
    background-color: #4338ca;
  }
  
  .signup-link {
    color: #6B7280;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    margin-top: 1.5rem;
  }
  
  .signup-link a {
    color: #4F46E5;
    text-decoration: underline;
    transition: color 0.3s;
  }
  
  .signup-link a:hover {
    color: #4338ca;
  }
  